.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-home {
  width: 100%;
  display: flex;
  max-width: 1320px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.home-container01 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1320px;
  min-height: 85vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-card {
  width: 60%;
  height: 341px;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  padding-bottom: 34px;
  backdrop-filter: saturate(200%) blur(30px);
  background-color: hsla(0,0%,100%,.8);
}
.home-text {
  text-align: left;
  background-image: linear-gradient(310deg,#7928ca,#1B0030);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text01 {
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text05 {
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text07 {
  color: var(--dl-color-secondary-600);
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-tripleunit);
}
.home-container02 {
  display: flex;
  margin-top: var(--dl-space-space-unitandahalfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-container03 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.home-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-image {
  width: 25%;
  object-fit: cover;
}
.home-image1 {
  width: 25%;
  object-fit: cover;
}
.home-image2 {
  width: 25%;
  object-fit: cover;
}
.home-image3 {
  width: 25%;
  object-fit: cover;
}
.home-image4 {
  top: -9px;
  right: 21px;
  width: 50%;
  height: 80vh;
  position: absolute;
  object-fit: cover;
  object-position: right;
  border-bottom-left-radius: 10rem;
}
.home-services {
  width: 1481px;
  height: 428px;
  display: flex;
  flex-wrap: wrap;
  max-width: auto;
  align-items: flex-start;
  padding-top: 30px;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: 54px;
}
.home-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.home-text10 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 460px;
  margin: auto;
  position: absolute;
  align-self: flex-start;
  text-align: center;
  font-family: Lato;
  background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(27, 0, 48));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text12 {
  color: var(--dl-color-secondary-400);
}
.home-about-us {
  width: 1445px;
  height: 1306px;
  display: flex;
  max-width: 1320px;
  align-items: center;
  padding-top: 2px;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: 51px;
}
.home-container06 {
  height: 119px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text15 {
  margin-top: var(--dl-space-space-unitandahalfunit);
  font-family: Lato;
  background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(27, 0, 48));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-container08 {
  display: flex;
  position: relative;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-sixunits);
  border-radius: var(--dl-radius-radius-radius1);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-size: cover;
  justify-content: center;
  background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/team-working.jpg');
  background-position: center;
}
.home-container08:hover {
  transform: scale(1.04);
}
.home-container09 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,.4);
  border-radius: var(--dl-radius-radius-radius1);
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE2fHxtdWx0aXBsZSUyMG9mZmljZSUyMGRlc2tzJTIwbW9uaXRvcnN8ZW58MHx8fHwxNjc5NDIyMTE3&ixlib=rb-4.0.3&w=1400");
}
.home-container10 {
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text18 {
  color: var(--dl-color-gray-white);
  max-width: 200px;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text19 {
  color: var(--dl-color-gray-white);
  display: none;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-container11 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.home-divider {
  flex: 0 0 auto;
  width: 90%;
  height: 1px;
  display: flex;
  opacity: 0.25;
  margin-top: 4rem;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: 4rem;
  flex-direction: column;
  background-color: var(--dl-color-gray-700);
}
.home-container12 {
  width: 100%;
  height: 430px;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  margin-bottom: 36px;
  flex-direction: row;
  justify-content: center;
}
.home-container13 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.home-container14 {
  display: flex;
  position: relative;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-sixunits);
  border-radius: var(--dl-radius-radius-radius1);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-size: cover;
  justify-content: center;
  background-image: url("https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/coffee-shop.jpg");
  background-position: center;
}
.home-container14:hover {
  transform: scale(1.04);
}
.home-container15 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,.4);
  border-radius: var(--dl-radius-radius-radius1);
}
.home-container16 {
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text22 {
  color: var(--dl-color-gray-white);
  max-width: 200px;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text23 {
  color: var(--dl-color-gray-white);
  display: none;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-testimonials {
  width: 100%;
  height: 750px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("/playground_assets/curved5-1500w.jpg");
  background-position: bottom;
}
.home-container17 {
  width: 1693px;
  height: 672px;
  display: flex;
  z-index: 1;
  max-width: 1320px;
  padding-top: 191px;
  flex-direction: column;
  padding-bottom: 191px;
  justify-content: flex-start;
}
.home-text26 {
  color: var(--dl-color-gray-white);
  width: 1316px;
  height: 347px;
  align-self: center;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 1.625;
  padding-left: 0px;
  padding-right: 2px;
}
.home-container18 {
  width: 1278px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: space-between;
  border-color: var(--dl-color-secondary-400);
  border-width: 1px;
  flex-direction: column;
}
.home-bottom-wave-image {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: -5px;
  position: absolute;
  object-fit: cover;
}
.home-top-wave-image {
  top: -5px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  position: absolute;
  object-fit: cover;
}
.home-contaier {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.home-container19 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text30 {
  margin-top: var(--dl-space-space-unitandahalfunit);
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text31 {
  color: rgb(203, 12, 159);
  white-space: normal;
  text-decoration: none;
}
.home-text32 {
  color: var(--dl-color-secondary-600);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text33 {
  font-weight: 700;
  white-space: normal;
  background-color: rgb(255, 255, 255);
}
.home-text35 {
  color: rgb(103, 116, 142);
  display: inline;
  font-weight: 400;
  white-space: normal;
  background-color: rgb(255, 255, 255);
}
.home-container20 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-container21 {
  display: flex;
  position: relative;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-sixunits);
  border-radius: var(--dl-radius-radius-radius1);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-size: cover;
  justify-content: center;
  background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/team-working.jpg');
  background-position: center;
}
.home-container21:hover {
  transform: scale(1.04);
}
.home-container22 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,.4);
  border-radius: var(--dl-radius-radius-radius1);
}
.home-container23 {
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-icon {
  fill: var(--dl-color-gray-900);
  width: 30px;
  height: 30px;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text36 {
  color: var(--dl-color-gray-white);
  max-width: 200px;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text37 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-container24 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-fourunits);
  flex-direction: column;
}
@media(max-width: 1600px) {
  .home-text {
    text-align: left;
  }
  .home-services {
    width: 100%;
    height: 356px;
    padding-top: 10px;
    padding-bottom: 40px;
  }
  .home-container05 {
    height: 47px;
    justify-content: center;
  }
  .home-text10 {
    width: 209px;
    height: 42px;
    text-align: center;
    padding-left: 0px;
    background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(27, 0, 48));
  }
  .home-text13 {
    background-image: linear-gradient(310deg, rgb(121, 40, 202), rgb(27, 0, 48));
  }
}
@media(max-width: 1200px) {
  .home-container01 {
    width: 100%;
    margin-right: 0px;
  }
  .home-card {
    height: 415px;
    margin-top: 0px;
    padding-right: 110px;
  }
  .home-text {
    height: 111px;
    text-align: left;
    background-image: linear-gradient(270deg, rgb(241, 242, 181) 0.00%,rgb(98, 0, 112) 0.00%);
  }
  .home-text07 {
    color: var(--dl-color-secondary-600);
    width: 100%;
    font-family: Lato;
  }
  .home-container02 {
    width: 364px;
    align-self: flex-start;
    margin-left: 0px;
    padding-left: 3px;
    padding-bottom: 0px;
  }
  .home-image4 {
    width: 635px;
    margin-right: 0px;
  }
  .home-services {
    padding-left: 104px;
    padding-right: 115px;
  }
  .home-text10 {
    color: #620070;
    height: 111px;
    text-align: left;
    background-image: linear-gradient(270deg, rgb(241, 242, 181) 0.00%,rgb(98, 0, 112) 0.00%);
  }
}
@media(max-width: 991px) {
  .home-home {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .home-container01 {
    max-width: 960px;
  }
  .home-card {
    width: 100%;
  }
  .home-services {
    max-width: 960px;
  }
  .home-about-us {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-container11 {
    width: 45%;
    margin-left: var(--dl-space-space-unit);
  }
  .home-container13 {
    width: 45%;
    margin-right: var(--dl-space-space-unit);
  }
  .home-container17 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    justify-content: center;
  }
  .home-container18 {
    align-items: center;
  }
  .home-contaier {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-container24 {
    width: 45%;
    margin-left: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .home-card {
    align-items: center;
  }
  .home-text07 {
    text-align: center;
    margin-right: 0px;
    padding-right: 0px;
  }
  .home-image {
    width: 40%;
  }
  .home-image1 {
    width: 40%;
  }
  .home-image2 {
    width: 40%;
  }
  .home-image3 {
    width: 40%;
  }
  .home-image4 {
    display: none;
  }
  .home-services {
    max-width: 720px;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-container06 {
    width: 80%;
  }
  .home-container07 {
    flex-direction: column;
  }
  .home-container11 {
    width: 80%;
    margin-top: var(--dl-space-space-fourunits);
    align-items: center;
    margin-left: 0px;
  }
  .home-divider {
    margin-top: var(--dl-space-space-doubleunit);
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .home-container12 {
    margin-top: 0px;
    flex-direction: column;
  }
  .home-container13 {
    width: 80%;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-container17 {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  .home-container19 {
    width: 80%;
  }
  .home-text34 {
    text-align: center;
  }
  .home-container20 {
    flex-direction: column;
  }
  .home-container24 {
    width: 80%;
    margin-top: var(--dl-space-space-fourunits);
    align-items: center;
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .home-card {
    padding: var(--dl-space-space-unit);
  }
  .home-container02 {
    align-items: center;
    flex-direction: column;
  }
  .home-container03 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-services {
    width: 100%;
  }
  .home-container17 {
    padding-top: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .home-text34 {
    text-align: center;
  }
}
